In [24]:
import numpy as np
import pandas as pd
from pandas_datareader import data as web
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
import datetime as dt
import mplfinance as mpf
import yfinance as yf

# **Function to save stock data to CSV**

In [37]:
def save_to_csv_from_yahoo(ticker, sdate, edate):
  #start = dt.datetime(sdate)
  #end = dt.datetime(edate)

  #tickerData = yf.Ticker(ticker)
  
  # get historical market data
  #df = tickerData.history(period="max")
  df = yf.download(ticker, start=sdate, end=edate)

  df.to_csv("D:\\py\\pycode\\banas-tut01\\" + ticker + ".csv")
  return df

In [38]:
 save_to_csv_from_yahoo("gbtc", "2021-01-01", "2021-11-03")

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-01-04  34.090000  36.599998  32.900002  35.080002  35.080002  22817800
2021-01-05  34.490002  39.540001  34.490002  39.410000  39.410000  19229000
2021-01-06  41.419998  44.000000  39.750000  43.930000  43.930000  40502900
2021-01-07  47.700001  48.410000  40.810001  44.970001  44.970001  32619300
2021-01-08  47.849998  48.650002  44.360001  44.419998  44.419998  23125700
...               ...        ...        ...        ...        ...       ...
2021-10-27  46.669998  47.720001  46.169998  46.700001  46.700001   8355200
2021-10-28  48.700001  49.000000  46.320000  48.685001  48.685001   5163600
2021-10-29  48.560001  50.000000  48.230000  49.689999  49.689999   4692100
2021-11-01  49.279999  49.540001  48.590000  49.240002  49.240002   4111100
2021-11-02  50.630001  51.000000  50.060001  50.459999  50.459999   7164200

[211 rows x 6 columns]

In [ ]:
msft = yf.Ticker("MSFT")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="max")