In [ ]:
from geopy.geocoders import ArcGIS
import pandas as pd
nom = ArcGIS()

In [ ]:
df=pd.read_csv("D:\py\pycode\PyMegaApps\pandas-stuff\pandas01\supermarkets.csv")
df

In [ ]:
df["address"]=df["Address"]+", "+df["City"]+", "+df["State"]+", "+df["Country"]

In [ ]:
df

In [ ]:
df=df.drop("Address",axis=1)

In [ ]:
df

In [ ]:
df["geocode"]=df["address"].apply(nom.geocode)

In [ ]:
df

In [ ]:
df=df.drop(1,axis=0)

In [15]:
df["Lat"]=df["geocode"].apply(lambda x: x.latitude)

In [17]:
df["Lat"]=df["geocode"].apply(lambda x: x.longitude)

In [18]:
df

,ID,City,State,Country,Name,Employees,address,geocode,Lat
0,1,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411...",-122.429411
2,3,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114...",-122.428813
3,4,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411...",-122.431703
4,5,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9...",-122.430006
5,6,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9...",-122.433234